@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(../styles/Variable.css);
@import url(../styles/Homepage.css);

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-medium;
  }

  h5 {
    @apply text-sm;
  }

  a {
    @apply text-blue-600 underline;
  }
}

html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--primary-background);
  min-height: 100vh;
}

header {
  min-width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.primary-background {
  background-color: var(--primary-background);
}